
<!-- Team -->

<div id="team" class="pb-5">
    <div class="container pt-5 pb-5">
      <div class="title text-center pt-5">
        <h3 class="text-white">Meet our chefs</h3>
        <h5>THEY ARE NICE & FRIENDLY</h5>
      </div>
  
      <div class="card-img pb-5">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
              <div class="card-img">
                <img src="../../../../assets/images/team-image1.jpg" class="img-fluid" alt=""/>
              </div>
              <div class="card-footer text-center" id="info">
                <h4>New Catherine</h4>
                <h5>OWNER & MANAGER</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
              <div class="card-img">
                <img
                  src="../../../../assets/images/team-image2.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="card-footer text-center" id="info">
                <h4>Isabella Grace</h4>
                <h5>KITCHEN OFFICER</h5>
              </div>
            </div>
          </div>  
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
              <div class="card-img">
                <img
                  src="../../../../assets/images/team-image3.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="card-footer text-center" id="info">
                <h4>Lindsay Perlen</h4>
                <h5>PIZZA SPECIALIST</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  