<!-- <p>header works!</p> -->
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#" id="logo">Abhiruchi</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team">CHEF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MENU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CART</a>
      </li>
    </ul>
  </div>
</nav>
