<div class="container background-white" id="contact">
  <div class="row">
    <div class="col-lg-6 mb-5 mt-5">
      <div id="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15296.344491338525!2d80.1540219!3d16.5721721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1593601490075!5m2!1sen!2sin"></iframe>

      </div>
    </div>
    <div class="col-lg-6 mt-5">
      <h2>Contact Us</h2>
      <form>
        <div class="row">

          <div class="form-group col-md-6 col-sm-6">
            <input type="text" class="form-control" id="fullname" placeholder="Full name">

          </div>

          <div class="form-group col-md-6 col-sm-6">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">

          </div>


        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <input type="text" class="form-control" id="Subject" placeholder="Subject">
                <textarea class="form-control" rows="6" id="cf-message" name="message" placeholder="Tell about your project"></textarea>
                <button type="submit" class="btn btn-primary form-control" id="sendMessage" >Send Message</button>
            </div>
        </div>


        
      </form>

    </div>
  </div>
</div>
